body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

img {
  margin: 10px;
  border: 5px solid #555;
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

button {
  margin: 20px;
  padding: 8px 16px;
  font-size: 14px;
}

p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}